<head>
  <title>Adding a new Store</title>
</head>

<body>
  
</body>

<script>
  // Shortcut to go back to store page.
  document.addEventListener('keydown', function (event) {
    if (event.key === "Escape") {
      console.log('Escape key was pressed!');
      window.location.href = "http://localhost:3004/stores";
    }
  });
</script>