<head>
  <title>Home</title>
  <script src="../../public/scripts/shortcuts.js" type="module"></script> 
</head>

<body>
  <a href="http://localhost:3004/stores">Stores</a> <br/>
  <a href="http://localhost:3004/products">Products</a> <br/>
  <a href="http://localhost:3004/managers">Managers (MongoDB)</a> <br>

  <br /><br /><br />
  <p><h3>Shortcuts:</h3>
    1/Numpad 1/S = Stores <br />
    2/Numpad 2/P = Products <br />
    3/Numpad 3/M = Managers (MongoDB) <br />
    Escape = Back one page. <br />
  </p>
</body>