<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<h1>Products</h1>
<br /><br /><br />

<a href="http://localhost:3004/managers/new">New Manager</a> 
<br /><br />

<!-- Table displaying all products. -->
<table>
  <thead>
    <tr>
      <th>Manager ID</th>
      <th>Name</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br />

<a href="http://localhost:3004/home">Home</a>