<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<h1>Stores</h1>
<br /><br /><br />
<a href="http://localhost:3004/stores/new">New Store</a> <br />

<br />
<!-- Table displaying all stores. -->
<table>
  <thead>
    <tr>
      <th>SID</th>
      <th>Location</th>
      <th>Manager ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br />

<a href="http://localhost:3004/home">Home</a>