<head>
  <title>Viewing all Managers</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <script src="../../public/scripts/shortcuts.js" type="module"></script>
</head>

<body>
  <h1>Managers</h1>
  <br /><br /><br />

  <a href="http://localhost:3004/managers/new">New Manager</a>
  <br /><br />

  <!-- Table displaying all managers. -->
  <table>
    <thead>
      <tr>
        <th>Manager ID</th>
        <th>Name</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% documents.forEach((document)=> { %>
        <tr>
          <td>
            <%= document._id %> <!-- MID -->
          </td>
          <td>
            <%= document.name %> <!-- Name -->
          </td>
          <td>
            <%= document.salary %> <!-- Salary -->
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <br />

  <a href="http://localhost:3004/home">Home</a>
</body>