<head>
  <title>Viewing all Products</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Products</h1>
  <br /><br /><br />

  <!-- Table displaying all products. -->
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Store ID</th>
        <th>Location</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <br />

  <a href="http://localhost:3004/home">Home</a>
</body>